html {
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 1em;
}

#weather {
  text-align: center;
  margin: 40px auto;
  color: #fff;
  max-width: 700px;
}

#temperature {
  font-family: "OpenSansLight";
  display: inline-block;
  font-size: 7rem;
  margin-top: 0.5em;
  width: 100%;
}

#condition {
  font-family: "OpenSansExtraBold";
  font-size: 3.3rem;
  margin-top: 1em;
  display: inline-block;
  line-height: 3rem;
  text-align: left;
  padding: 0 5%;
}

#text {
  font-family: "OpenSansLight";
  color: #ccc;
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding: 0 5%;
  margin-top: 0.5em;
}