html {
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 1em;
}

#weather {
  text-align: center;
  margin: 40px auto;
  color: #fff;
  max-width: 800px;
}

#temperature {
  font-family: "OpenSansLight";
  display: inline-block;
  font-size: 7.5rem;
  margin-top: 4.5rem;
  width: 100%;
}

#condition {
  font-family: "OpenSansExtraBold";
  font-size: 2.7rem;
  margin-top: 4.5rem;
  display: inline-block;
  line-height: 3.5rem;
  text-align: left;
  padding: 0 5%;
}

#text {
  font-family: "OpenSansLight";
  color: #dedede;
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 1.1rem;
  line-height: 2rem;
  padding: 0 5%;
  margin-top: 1rem;
}