body {
  font-family: 'OpenSans';
  font-size: 13px;
}

#weather {
  width: 425px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

#city {
  color: white;
  font-size: 2.0em;
}

#condition, #text {
  font-size: 0.2em;
}

#temperature {
  font-family: "OpenSansLight";
}

#weather p {
  font-size: 9em;
  margin: 40px 0 0;
  line-height: 0.5;
  color: #fff;
}